@using System.Web.Http
@using System.Web.Http.Description
@using com.Hzexe.Air.API.Areas.HelpPage.Models
@using com.Hzexe.Air.API.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
<h1>@description.HttpMethod.Method @description.RelativePath</h1>
<div>
    <p>@description.Documentation</p>

    <h2>请求</h2>

    <h3>URI参数(URI Parameters)</h3>
    @Html.DisplayFor(m => m.UriParameters, "URIParameters")

    <h3>请求体参数(Body Parameters)</h3>

    <p>@Model.RequestDocumentation</p>

    @if (Model.RequestModelDescription != null)
    {
        @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
        if (Model.RequestBodyParameters != null)
        {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }
    else
    {
        <p>无.</p>
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>Request Formats</h3>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }

    <h2>响应</h2>

    <h3>内容</h3>

    <p>@description.ResponseDescription.Documentation</p>

    @if (Model.ResourceDescription != null)
    {
        @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
        if (Model.ResourceProperties != null)
        {
            @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
        }
    }
    else
    {
        <p>无.</p>
    }

    @if (Model.SampleResponses.Count > 0)
    {
        <h3>支持的响应类型</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }

</div>